*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;

}
:root{
    --color-primario : #0D1C32ff;
    --acento : #ddb42c;
    --color-secundario : #1C1C1C;
    --color-terceario :  #D3D2CFff;
  }

body{
    padding: 0;
    background-color: var(--color-primario);
    align-items: center;
    justify-content: center;
}

