section h1{
    text-align: center;
    font-size: 2.5em;
    margin-top: 20px;
    color: var(--color-terceario);
}

.productos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
}
.producto{
    width: 250px;
    height: 350px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}
.productos .producto:hover{
    transform: scale(1.05);
}
.productos .producto img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}
.img-catalogo{

    width: 10%;
    height: auto;
    max-height: 240px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;

}
.main-catalogo{
    height: 50vh;
    width: 90%;
    margin: 5%;
    margin-top: 1%;
}
@media (max-width: 425px) {
    .productos{
        flex-direction: column;
        align-items: center;
    }
    .producto{
        width: 60%;
        margin-left: 0px;
        margin-right: 0px;
    }
    .img-catalogo{
        width: 100%;
        height: auto;
    }
    .main-catalogo{
        height: 100vh;
        width: 100%;
        margin: 0;
        margin-top: 0;
    }
}